name: pinknote
description: A pastel to-do list Flutter app
publish_to: "none"

version: 2.0.6+16

environment:
  # FIXED: Updated to a recent stable SDK constraint
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  #flutter_native_timezone:
    #path: plugins/flutter_native_timezone

  # FIXED: Updated Firebase and other packages to stable, recent versions
  firebase_core: ^4.4.0
  cloud_firestore: ^6.1.2
  firebase_auth: ^6.1.4
  shared_preferences: ^2.2.3
  google_sign_in: ^6.2.1
  provider: ^6.1.2
  
  # User's other dependencies
  email_validator: ^3.0.0
  http: ^1.2.1
  geolocator: ^14.0.2
  cupertino_icons: ^1.0.2
  google_fonts: ^6.2.1
  intl: ^0.20.0 # FIXED: Corrected to a valid version
  flutter_svg: ^2.0.10+1
  audioplayers: ^6.5.1
  timezone: ^0.9.4
  flutter_local_notifications: ^17.2.3
  permission_handler: ^12.0.1
  app_settings: ^7.0.0
  file_picker: ^10.3.10
  path_provider: ^2.1.5
  share_plus: ^12.0.1
  archive: ^4.0.7
  csv: ^6.0.0
  uuid: ^4.5.1
  chrono_dart: ^2.0.2
  #flutter_native_timezone: ^2.0.0
  flutter_timezone: ^5.0.1
  home_widget: ^0.9.0
  flutter_staggered_grid_view: ^0.7.0
  flutter_quill: ^11.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/app_icon_new.png"
  min_sdk_android: 21
  remove_alpha_ios: true
  adaptive_icon_background: "#F8F0F0"
  adaptive_icon_foreground: "assets/app_icon_new.png"

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/sounds/ # Make sure to declare subdirectories if you have them

  fonts:
    - family: Quicksand
      fonts:
        - asset: assets/fonts/Quicksand-Regular.ttf
        - asset: assets/fonts/Quicksand-Bold.ttf
          weight: 700
    - family: Sacramento
      fonts:
        - asset: assets/fonts/Sacramento-Regular.ttf
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Thin.ttf
          weight: 100
        - asset: assets/fonts/Poppins-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/Poppins-Light.ttf
          weight: 300
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Poppins-Black.ttf
          weight: 900